<h2><%= title %></h2>
<table>
        <thead>
            <tr>
                <th scope="col">Bundle Name</th>
                <th scope="col">Target Branch Size</th>
                <th scope="col">Current Branch Size</th>
                <th scope="col">Difference (Kbs)</th>
                <th scope="col">Difference (%)</th>
              </tr>
            </thead>
            <tbody>
                <% stats.forEach(function(stat) { %>
                    <tr>
                        <th><%= stat.name %></th>
                        <th><%= stat.targetSize %></th>
                        <th><%= stat.currentSize %></th>
                        <th><%= stat.difference %></th>
                        <th><%= stat.pdiff %></th>
                    </tr>
                <% }); %>
            </tbody>
    </table>