<h4 style="margin-bottom: 5px;"><%= title %></h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Bundle Name</th>
            <th scope="col"><%= options.targetBranch %> branch</th>
            <th scope="col"><%= options.currentBranch %> branch</th>
            <th scope="col">Difference (Kbs)</th>
            <th scope="col">Difference (%)</th>
        </tr>
    </thead>
    
    <tbody>
        <% stats.forEach(function(stat) { %>
            <tr>
                <th><%= stat.name %></th>
                <th><%= stat.targetSize.toFixed(2) %>Kbs</th>
                <th><%= stat.currentSize.toFixed(2) %>Kbs</th>
                <th><%= stat.difference.toFixed(2) %>Kbs</th>
                <th><%= stat.pdiff.toFixed(2) %>%</th>
            </tr>
        <% }); %>
    </tbody>
</table>